.layout {
  .header {
    height: 48px;
    background: #fff;
  }
  .content {
    padding: 15px 50px;
    background: #fff;
  }
}
:global{
  .menus-table{
    margin-right: 30px;
    &.cart{
      margin-right: 0;
    }
    table{
      tr{
        th{
          background: none;
          td{
            padding: 10px;
          }
        }
      }
    }
  }
  .btn-w-p100{
    width: 100%;
  }
}